apiVersion: v1
kind: Service
metadata:
  name: fake-news-verifier
  labels:
    app: fake-news-verifier
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: 8080
      protocol: TCP
      name: http
  selector:
    app: fake-news-verifier
